[Unit]
Description=Gunicorn instance to serve my Flask app
After=network.target

[Service]
User=ec2-user
Group=nginx
WorkingDirectory=/home/ec2-user/scrapes_flask
ExecStart=/usr/local/bin/gunicorn --workers 8 --bind unix:/home/ec2-user/scrapes_flask/scrapes_flask.sock app:app


[Install]
WantedBy=multi-user.target
